body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding-top: 20px;
}

header form {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 10px;
    gap: 10px; /* Añade espacio entre los elementos del formulario */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header form input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

header form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.movie img {
    width: 100%;
    border-radius: 5px;
}

.movie h3 {
    font-size: 18px;
    color: #333;
}

.movie p {
    color: #777;
}
