body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
    flex-direction: column; 
}

.movie-title {
    color: #fff;
    font-size: 36px;
    font-weight: bold; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
    margin: 20px 0; 
    line-height: 1.2; 
    letter-spacing: 1px; 
    font-family: 'Arial', sans-serif; 
}

.card {
    background: rgba(24, 24, 24, 0.229);
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    margin-top: -10mm; 
    display: flex;
    flex-direction: column; 
    border: 2px solid #80808024; 
}


.card-cover {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.movie-backdrop {
    width: 100%;
    height: 170%;
    object-fit: cover;
    opacity: 0.3; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-cover h1 {
    color: #fff;
    font-size: 42px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.184);
    z-index: 1;
}

.card-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
}



/*CARD DE LA VALORACION*/
.card-valoracion {
    margin-top: -0.2cm;
    width: 6cm; 
    height: 2cm; 
    display: block;
    background-color: #1313134a; 
    color: #fff;
    padding: 15px;
    margin-left: 0.5cm;
    text-align: center;
}

.valoracion-header {
    margin-top: -0.1cm;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
}

.rating-number {
    color: #f4f4f4; 
    font-size: 1em; 
    display: block;
    margin-bottom: 10px;
}

.rating-stars {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5px; 
}

.star {
    width: 1.5em; 
    height: 1.5em; 
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); 
    background-color: #d3d3d3; 
    display: inline-block;
}

.star.filled {
    background-color: #ffd700; 
}

.star.half {
    background: linear-gradient(to right, #ffd700 50%, #d3d3d3 50%); 
}


/*CARD DE IMAGENES*/
.card-image {
    flex: 0 0 250px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    margin-top: -50px;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.status {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #c62828;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.card-details {
    flex: 1;
    color: #ddd;
}

.card-details h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.card-footer {
    font-size: 30px;
    margin-top: 23px;
    width: 100%;
    max-width: 1200px; 
    background-color: rgba(0, 0, 0, 0.6); 
    border: 2px solid #80808024;
    padding: 10mm; 
    box-sizing: border-box; 
}

.card-footer h2 {
    margin-top: 0;
    font-size: 22px;
    color: #fff;
}

.card-footer p {
    font-size: 16px;
    color: #ddd;
    margin: 10px 0;
}
.actor-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.actor {
    margin-right: 10px;
    text-align: center;
}

.actor-photo {
    width: 100px; 
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.actor-name {
    display: block;
    font-size: 14px;
    color: #7d7373;
}


.genres {
    margin-top: 15px;
}

.genres span {
    display: inline-block;
    background-color: #0288d1;
    color: #fff;
    padding: 5px 12px;
    border-radius: 4px;
    margin-right: 7px;
    font-size: 14px;
}

.movie-overview {
    margin-top: 15px;
    font-size: 16px;
}

.unavailable {
    color: #e57373;
    font-style: italic;
}


.trailer-button {
    background-color: #ff0000;
    color: #ffffffcf;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.trailer-button:hover {
    background-color: #8496a9;
}

.release-date-label {
    color: rgb(255, 106, 0);
}

/*Diseño para los botones de redes socuales*/
.social-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: #2c2c2c; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    width: 180px;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #1a1a1a; 
}

.social-button img {
    width: 24px;
    height: 24px;
    margin-right: 8px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.social-button.facebook {
    background-color: #3b5998; 
}

.social-button.github {
    background-color: #333; 
}

.social-button.twitter {
    background-color: #1DA1F2; 
}

.social-button.youtube {
    background-color: #FF0000; 
}

.social-button.facebook:hover {
    background-color: #2d4373;
}

.social-button.github:hover {
    background-color: #1a1a1a; 
}

.social-button.twitter:hover {
    background-color: #0e76a8; 
}

.social-button.youtube:hover {
    background-color: #e60000; 
}

.social-button span {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}



.card-simple {
    background: rgba(23, 22, 22, 0); 
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    margin-top: 5mm; 
    display: flex;
    flex-direction: column; 
    border: 2px solid #80808024;
}
/* Estilo del texto dentro de la tarjeta */
.card-text {
    font-size: 14px;
    line-height: 1.6; 
    text-align: justify;
    color: #ddd; 
    padding: 1%;
}

.card-text a {
    color: #0288d1; 
    text-decoration: none;
    font-weight: bold;
}

.card-text a:hover {
    text-decoration: underline;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #ff5252, #d50000);
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 10px rgba(255, 82, 82, 0.5);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background: linear-gradient(135deg, #ff1744, #b71c1c);
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0px 6px 15px rgba(255, 23, 68, 0.6);
}

.back-button:active {
    transform: translateY(0) scale(1);
    background: linear-gradient(135deg, #d50000, #b71c1c);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}


ul.platforms-list {
    list-style-type: none; /* Quitar los puntos de la lista */
    display: flex; /* Usar flexbox para alinear los elementos en fila */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una fila */
    gap: 10px; /* Espacio entre los elementos */
    padding: 0; /* Quitar padding de la lista */
}

ul.platforms-list li {
    width: 60px; /* Ancho del cuadro de la plataforma */
    height: 60px; /* Alto del cuadro de la plataforma */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.platforms-list li img {
    width: 100%; /* Asegura que la imagen ocupe todo el cuadro */
    height: 100%; /* Asegura que la imagen ocupe todo el cuadro */
    object-fit: cover; /* Hace que la imagen cubra el cuadro sin deformarse */
    border-radius: 8px; /* Opcional: bordes redondeados */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto de profundidad */
}
