<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/index.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <title>Login</title>
</head>
<body>
    <div id="snow-container"></div>

    <!-- Formulario de login -->
    <form action="{{ url_for('user.login') }}" method="POST">
        <h1>Inicia Sesión</h1>
        <div class="inputGroup inputGroup1">
            <input type="email" id="loginEmail" name="email" placeholder="Correo electrónico" maxlength="254" required />
        </div>

        <div class="inputGroup inputGroup2">
            <input type="password" id="loginPassword" name="password" placeholder="Contraseña" required />
        </div>
        
        <div class="inputGroup inputGroup3">
            <button type="submit" id="login">Iniciar sesión</button>
        </div>

        <!-- Mensaje flash de éxito (registro correcto) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert {{ category }}" id="flash-message">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- Mostrar el mensaje de error si las credenciales son incorrectas -->
        {% if error_message %}
        <div class="alert error" style="display:block;">
            {{ error_message }}
        </div>
        {% endif %}

        <div class="form-group">
            <p>¿No tienes una cuenta? <a href="{{ url_for('user.register') }}">Crea una cuenta</a>.</p>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
          setTimeout(() => {
            flashMessage.style.transition = 'opacity 1s ease';
            flashMessage.style.opacity = '0';
            setTimeout(() => {
              flashMessage.remove();
            }, 1000);
          }, 5000); 
        }
      });
    </script>
</body>
</html>
