<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie/show.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    {% include '_gen/nav.html' %}
    <div class="card">

        <div class="card-cover">
            <img 
                src="{{ movie.backdrop_path }}" 
                alt="Backdrop de {{ movie.title }}" 
                class="movie-backdrop"
                onerror="this.onerror=null; this.src='https://via.placeholder.com/1280x720?text=Backdrop+No+Disponible';"
            >
        </div>
        <div class="card-content">
            <div class="card-image">
                <img 
                    src="{{ movie.poster_path }}" 
                    alt="Poster de {{ movie.title }}" 
                    onerror="this.onerror=null; this.src='https://via.placeholder.com/500x750?text=Poster+No+Disponible';"
                >
            </div>
            <div class="card-details">
                <h1 class="movie-title">{{ movie.title if movie.title else '<span class="unavailable">Título no disponible</span>' | safe }}</h1>
                <p><strong class="release-date-label">Fecha de Estreno:</strong> {{ movie.release_date or '<span class="unavailable">Fecha no disponible</span>' | safe }}</p>
                <p><strong class="release-date-label">Director:</strong> {{ movie.director or '<span class="unavailable"> Director no disponible </span>' | safe }}</p>
                <p><strong class="release-date-label">Duración:</strong> 
                    {% if movie.runtime %}
                        {{ movie.runtime }} minutos
                    {% else %}
                        <span class="unavailable">La duración sigue siendo un secreto... ¿cuánto durará? ¡Aún lo averiguamos!</span>
                    {% endif %}
                </p>
                <p><strong class="release-date-label">Idioma original:</strong> {{ movie.original_language | default('No disponible') }}</p>
                {% if movie.tagline %}
                    <p><strong class="release-date-label">Lema:</strong> {{ movie.tagline }}</p>
                {% endif %}

                <div class="genres">
                    {% for genre in movie.genres %}
                        <a href="{{ url_for('index', genre_id=genre['id']) }}" class="genre-link">
                            <span>{{ genre['name'] }}</span>
                        </a>
                    {% endfor %}
                </div>
                          
                {% if movie.platforms|length > 0 %}
                    <p><strong>Plataformas de Streaming:</strong></p>
                    <ul class="platforms-list">
                        {% for platform in movie.platforms %}
                            <li>
                                <a href="{{ platform.url }}" target="_blank">
                                    <img src="{{ platform.logo }}" alt="{{ platform.name }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                
            </div>
        </div>
        <div class="card-valoracion">
            
            <p class="valoracion-header">
                Valoración: <span class="rating-number">{{ movie.rating }}/10</span>
            </p>
            <div class="rating-stars">
                {% for i in range(1, 6) %}
                    {% if i <= movie.rating // 2 %}
                        <span class="star filled"></span> <!-- Estrella llena -->
                    {% elif i == movie.rating // 2 + 1 and movie.rating % 2 != 0 %}
                        <span class="star half"></span> <!-- Estrella media si es decimal -->
                    {% else %}
                        <span class="star"></span> <!-- Estrella vacía -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="social-buttons">
        <a href="https://youtube.com/@ninoforger9776?si=h8iF_wuxgs941nqW" target="_blank" class="social-button youtube">
            <img src="/static/images/youtube.png" alt="YouTube" class="social-icon">
            YouTube
        </a>
        <a href="https://github.com/ClaudioManyaJacobo" target="_blank" class="social-button github">
            <img src="/static/images/github.png" alt="GitHub" class="social-icon">
            GitHub
        </a>
        <a href="https://x.com/ManyaJacobo" target="_blank" class="social-button twitter">
            <img src="/static/images/twitter.png" alt="Twitter" class="social-icon">
            Twitter
        </a>
    </div>
    <div class="card-footer">
        <h2>Resumen</h2>
        <p class="movie-overview">
            {% if movie.overview %}
                {{ movie.overview | safe }}
            {% else %}
                <span class="unavailable">Resumen no disponible</span>
            {% endif %}
        </p>
        <!-- Información de presupuesto y recaudación -->
        {% if movie.budget or movie.revenue %}
            {% if movie.budget %}
                <p><strong>Presupuesto:</strong> ${{ movie.budget | format_number }}</p>
            {% else %}
                <p><strong>Presupuesto:</strong> <span class="unavailable">Información no disponible</span></p>
            {% endif %}
            {% if movie.revenue %}
                <p><strong>Recaudación:</strong> ${{ movie.revenue | format_number }}</p>
            {% else %}
                <p><strong>Recaudación:</strong> <span class="unavailable">Información no disponible</span></p>
            {% endif %}
        {% endif %}

        {% if movie.youtube_url %}
            <h2>Tráiler</h2>
            <a href="{{ movie.youtube_url }}" target="_blank" class="trailer-button">Ver tráiler en YouTube</a>
        {% endif %}
    </div>

    <div class="card-footer">
        <h2>Actores: </h2>
        {% if movie.actors %}
            <ul class="actor-list">
                {% for actor in movie.actors %}
                    {% if actor.photo %}
                        <li class="actor">
                            <a href="{{ actor.profile_url }}" target="_blank">
                                <img src="{{ actor.photo }}" alt="{{ actor.name }}" class="actor-photo">
                            </a>
                            <p class="actor-name">{{ actor.name }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <span class="unavailable">Actores no disponibles</span>
        {% endif %}
    </div>

    <div class="card-simple">
        <p class="card-text">
            Gracias a la API de TMDB por proporcionar datos y recursos de películas. Las imágenes y la información de las películas son propiedad de sus respectivos autores y se utilizan únicamente con fines informativos. Todos los derechos reservados. Para más detalles, visita <a href="https://www.themoviedb.org/" target="_blank">TMDB</a>.
        </p>
    </div>

</body>
</html>
