<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Peliculizate{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_gen/nav.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Peliculizate Logo" style="height: 50px;">
            </a>
            <div class="search-bar" style="display: flex; justify-content: center; gap: 15px; padding: 20px;">
                <form method="GET" action="/" style="display: flex; gap: 10px; align-items: center;">
                    <input type="text" name="title" placeholder="Buscar película..." value="{{ request.args.get('title', '') }}" style="padding: 8px 15px; border-radius: 4px; font-size: 16px; width: 240px;">
                    
                    <select name="genre_id" style="padding: 8px 12px; border-radius: 4px; font-size: 16px;">
                        <option value="">Todos los géneros</option>
                        <option value="28" {% if request.args.get('genre_id') == "28" %}selected{% endif %}>Acción</option>
                        <option value="12" {% if request.args.get('genre_id') == "12" %}selected{% endif %}>Aventura</option>
                        <option value="16" {% if request.args.get('genre_id') == "16" %}selected{% endif %}>Animación</option>
                        <option value="35" {% if request.args.get('genre_id') == "35" %}selected{% endif %}>Comedia</option>
                        <option value="18" {% if request.args.get('genre_id') == "18" %}selected{% endif %}>Drama</option>
                        <option value="10749" {% if request.args.get('genre_id') == "10749" %}selected{% endif %}>Romance</option>
                        <option value="80" {% if request.args.get('genre_id') == "80" %}selected{% endif %}>Crimen</option>
                        <option value="99" {% if request.args.get('genre_id') == "99" %}selected{% endif %}>Documental</option>
                        <option value="18" {% if request.args.get('genre_id') == "18" %}selected{% endif %}>Drama</option>
                        <option value="10751" {% if request.args.get('genre_id') == "10751" %}selected{% endif %}>Familia</option>
                        <option value="14" {% if request.args.get('genre_id') == "14" %}selected{% endif %}>Fantasía</option>
                        <option value="36" {% if request.args.get('genre_id') == "36" %}selected{% endif %}>Historia</option>
                        <option value="27" {% if request.args.get('genre_id') == "27" %}selected{% endif %}>Terror</option>
                        <option value="10402" {% if request.args.get('genre_id') == "10402" %}selected{% endif %}>Música</option>
                        <option value="9648" {% if request.args.get('genre_id') == "9648" %}selected{% endif %}>Misterio</option>
                        <option value="10752" {% if request.args.get('genre_id') == "10752" %}selected{% endif %}>Guerra</option>
                        <option value="878" {% if request.args.get('genre_id') == "878" %}selected{% endif %}>Ciencia ficción</option>
                        <option value="10770" {% if request.args.get('genre_id') == "10770" %}selected{% endif %}>Película de TV</option>
                        <option value="53" {% if request.args.get('genre_id') == "53" %}selected{% endif %}>Suspenso</option>
                        <option value="10759" {% if request.args.get('genre_id') == "10759" %}selected{% endif %}>Acción y aventura</option>
                        <option value="10773" {% if request.args.get('genre_id') == "10773" %}selected{% endif %}>Drama histórico</option>
                        <option value="10774" {% if request.args.get('genre_id') == "10774" %}selected{% endif %}>Acción cómica</option>
                    </select>
                    
                    
                    <button type="submit" style="background-color: #28a745; color: white; padding: 10px 15px; border-radius: 4px; font-size: 16px; border: none; transition: background-color 0.3s;">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            
                <form method="GET" action="{{ url_for('index') }}" style="display: inline;">
                    <button type="submit" style="background-color: #dc3545; color: white; padding: 10px 15px; border-radius: 4px; font-size: 16px; border: none; transition: background-color 0.3s;">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </div>

            <div class="user-section">
                {% if session.get('username') %}
                    <div class="user-info" style="display: flex; align-items: center; gap: 1cm;">
                        <p>Bienvenido - {{ session['username'] }}</p>
                        <div class="dropdown">
                            <button class="dropdown-btn"><i class="fas fa-user"></i></button>
                            <div class="dropdown-content">
                                <button type="button" onclick="openNav()">Editar Perfil</button>
                                <form method="GET" action="{{ url_for('logout') }}">
                                    <button type="submit"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No estás logueado.</p>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Barra lateral para editar el perfil -->
    <div id="myNav" class="sidebar-container">
        <a href="javascript:void(0)" class="sidebar-close-btn" onclick="closeNav()">×</a>
        <!-- Formulario inicialmente oculto -->
        <form method="POST" action="{{ url_for('edit_user') }}" id="sidebarForm" class="sidebar-form">
            <h1>Editar Perfil</h1>
            <label for="name" class="sidebar-label">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ session['username'] }}" class="sidebar-input-field" required><br>

            <label for="password" class="sidebar-label">Contraseña:</label>
            <input type="password" id="password" name="password" class="sidebar-input-field" required><br>

            <button type="submit" class="sidebar-update-btn">Actualizar</button>
        </form>
    </div>

    <script>
        // Función para abrir la barra lateral
        function openNav() {
            // Muestra la barra lateral
            document.getElementById("myNav").style.width = "300px";

            // Espera un momento antes de mostrar el formulario
            setTimeout(function() {
                document.getElementById("sidebarForm").classList.add("visible");
            }, 300); // Ajusta el tiempo según el tamaño de la animación
        }

        // Función para cerrar la barra lateral
        function closeNav() {
            document.getElementById("myNav").style.width = "0";

            // Ocultar el formulario cuando la barra lateral se cierra
            document.getElementById("sidebarForm").classList.remove("visible");
        }
    </script>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
