* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/images/wallper.jpg');
    background-size: cover; 
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
  }
  
  /* Pseudo-elemento para oscurecer la imagen de fondo */
  body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }

  
.register-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.register-container h2 {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
    outline: none;
    font-size: 16px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #FFF;
    opacity: 0.7;
}

button {
    padding: 10px;
    background-color: #E53935;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B71C1C;
}

p {
    margin-top: 15px;
    color: #FFF;
}

p a {
    color: #E53935;
    text-decoration: none;
    font-size: 14px;
}

p a:hover {
    text-decoration: underline;
}

/* Para simular la nieve en la pantalla */
#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
    animation: snowfall linear infinite;
}


/* Estilo para los mensajes de confirmación */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.alert.success {
    background-color: #4CAF50;
    color: white;
}

.alert.error {
    background-color: #f44336;
    color: white;
}
